@inject UserManager<User> UserManager
@inject RoleManager<Role> RoleManager
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery antiforgery;

@{
    var antiforgeryRequestToken = antiforgery.GetAndStoreTokens(Context).RequestToken;
    var hasPermissionForCreate = await BaseRoleClaimService.IsClaimExist(new Claim("permission", Permissions.AuthorizationUserCreate), User);
    var hasPermissionForUpdate = await BaseRoleClaimService.IsClaimExist(new Claim("permission", Permissions.AuthorizationUserUpdate), User);
    var hasPermissionForDelete = await BaseRoleClaimService.IsClaimExist(new Claim("permission", Permissions.AuthorizationUserDelete), User);

    var userName = User.Identity.Name;
    var loggedUser = await UserManager.FindByNameAsync(User.Identity.Name);
    var loggedUserRole = await UserManager.GetRolesAsync(loggedUser);
    var role = await RoleManager.FindByNameAsync(loggedUserRole.First());

    ViewData["Title"] = Localizer[LabelConstants.User];
}

@section styles{
    <link rel="stylesheet" type="text/css" href="~/assets/elements/badges.min.css">
    <link href="~/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/assets/widgets/datatable/datatable.min.css">
    <link href="~/lib/toastr/toastr.css" rel="stylesheet" />
}

<div class="row">
    <label id="loggedUser" hidden="hidden" value="@userName"></label>
    <label id="loggedUserRolePriority" hidden="hidden" value="@role.Priority"></label>
    <div id="page-title">
        <h2 class="display-inline">@Localizer[LabelConstants.User]</h2>
        <div class="pull-right">

            @if (hasPermissionForCreate)
            {
                <a class="btn btn-primary btn-sm" href="~/authorization/user/add"><i class="glyph-icon icon-plus"></i>&nbsp;@Localizer[LabelConstants.AddNew]</a>
            }
        </div>
    </div>

    <div class="breadcrumb-section clearfix">
        <ol class="breadcrumb">
            <li class="module">@Localizer[LabelConstants.Authorization]</li>
            <li class="active">@Localizer[LabelConstants.User]</li>
        </ol>
    </div>

    @Html.Partial("_MessagePanel")

    <div class="panel">
        <div class="panel-body">
            <div class="pull-right">
                <div class="user-account-btn dropdown">
                    <a href="#" title="Download" class="user-profile clearfix" data-toggle="dropdown"  style="text-decoration: none;">
                        <i class="glyph-icon icon-arrow-circle-down"></i>
                        <span>@Localizer[LabelConstants.Download]</span>
                        <i class="glyph-icon icon-angle-down"></i>
                    </a>
                    <div class="dropdown-menu float-right" style="display: none; max-width:10px;overflow-x:hidden">
                        <div class="box-sm">
                            <ul class="reset-ul mrg5B">
                                <li>
                                    <a asp-action="ExportExcel"  asp-controller="User" id="exportExcel" style="text-decoration: none;">@Localizer[LabelConstants.ExportasExcel]</a>
                                </li>
                                <li>
                                    <a asp-action="ExportPdf" asp-controller="User" id="exportPdf" style="text-decoration: none;">@Localizer[LabelConstants.ExportasPdf]</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <br /><br />

            <table class="table table-hover table-responsive table-bordered" id="userDataTable" style="width:100% !important;">
                <thead>
                    <tr>
                        <th>@Localizer[LabelConstants.SN]</th>
                        <th></th>
                        <th>@Localizer[LabelConstants.UserName]</th>
                        <th>@Localizer[LabelConstants.Email]</th>
                        <th>@Localizer[LabelConstants.Role]</th>
                        <th>@Localizer[LabelConstants.Status]</th>
                        <th>@Localizer[LabelConstants.EmailConfirmed]</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        var token = @Json.Serialize(antiforgeryRequestToken);
        var hasPermissionForUpdate = @hasPermissionForUpdate.ToString().ToLower();
        var hasPermissionForDelete = @hasPermissionForDelete.ToString().ToLower();
    </script>

    <script src="~/lib/toastr/toastr.min.js"></script>
    <script src="~/js/jquery.dataTables.min.js"></script>
    <script src="~/js/dataTables.bootstrap.min.js"></script>
    <script src="~/authorization/js/authorization-user-index.js" ></script>
}
