@using Lumle.Infrastructure.Enums
@model ProfileVM

@{
    ViewData["Title"] = Localizer[LabelConstants.Profile];
}

@section styles{
    <link rel="stylesheet" type="text/css" href="~/css/profile-index.css" />
    <link rel="stylesheet" type="text/css" href="~/assets/widgets/chosen/chosen.css">
    <link href="~/lib/toastr/toastr.css" rel="stylesheet" />
}

<div class="breadcrumb-section clearfix">
    <ol class="breadcrumb">
        <li><a href="~/dashboard">@Localizer[LabelConstants.Dashboard]</a></li>
        <li class="active">@Localizer[LabelConstants.Profile]</li>
    </ol>
</div>

@Html.Partial("_MessagePanel")

<div class="panel profile-panel">

    <div class="bg-color">
        <div class="profile-avatar">
            <img src="@Model.ProfileImageUrl" id="profileImage" class="image profile-img" alt="" />
            <div class="overlay">
                <div class="edit-avatar">
                    <input type="file" name="myProfileImage" id="myProfileImageInput" accept="image/png,image/jpg,image/jpeg">
                    <i class="glyph-icon icon-camera"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <form id="mainForm" class="form-horizontal bordered-row" asp-action="EditProfile" role="form" method="post" data-parsley-validate novalidate>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="UserId" />

            <div class="profile-information">
                <div class="title-section">
                    <h3>General Info</h3>
                </div>

                <div class="row">
                    <div class="col-md-6 input-form">
                        <label>@Localizer[LabelConstants.FirstName]</label>
                        <input asp-for="FirstName" type="text" required class="form-control" />
                    </div>
                    <div class="col-md-6 input-form">
                        <label>@Localizer[LabelConstants.LastName]</label>
                        <input asp-for="LastName" type="text" required class="form-control" />
                    </div>
                    <div class="col-md-6 input-form">
                        <label>@Localizer[LabelConstants.Email]</label>
                        <input asp-for="Email" type="email" required class="form-control" />
                    </div>
                    <div class="col-md-6 input-form">
                        <label>@Localizer[LabelConstants.Username]</label>
                        <input asp-for="UserName" type="text" required class="form-control" />
                    </div>
                </div>
            </div>
            <div class="profile-information">
                <div class="title-section">
                    <h3>Account Info</h3>
                </div>

                <div class="row">
                    <div class="col-md-6 input-form">
                        <label>@Localizer[LabelConstants.AccountStatus]</label>
                        @if (Model.AccountStatus == 0)
                        {
                            <input type="text" class="form-control" value="Disabled" disabled />
                        }
                        <input type="text" class="form-control" value="Enabled" disabled />
                    </div>
                    <div class="col-md-6 input-form">
                        <label>@Localizer[LabelConstants.Role]</label>
                        <input type="text" class="form-control" value="@Model.RoleName" disabled />
                    </div>
                </div>
            </div>
            <div class="profile-information">
                <div class="title-section">
                    <h3>Business Address</h3>
                </div>

                <div class="row">
                    <div class="col-md-6 input-form">
                        <label>Street Address</label>
                        <input type="text" class="form-control" asp-for="StreetAddress">
                    </div>
                    <div class="col-md-6 input-form">
                        <label>City</label>
                        <input type="text" class="form-control" asp-for="City">
                    </div>
                    <div class="col-md-6 input-form">
                        <label>City</label>
                        <input type="text" class="form-control" asp-for="PostalCode">
                    </div>
                    <div class="col-md-6 input-form">
                        <label>State / Province</label>
                        <select class="form-control" asp-for="EnumState"
                                asp-items="Html.GetEnumSelectList<StateEnum>()"></select>
                    </div>
                    <div class="col-md-6 input-form">
                        <label>Country</label>
                        <select class="form-control" asp-for="EnumCountry"
                                asp-items="Html.GetEnumSelectList<CountryEnum>()"></select>
                    </div>
                    <div class="col-md-6 input-form">
                        <label>@Localizer[LabelConstants.TimeZone]</label>
                        <select asp-for="TimeZone" asp-items="Model.TimeZoneList" class="chosen-select" required style="display: none;"></select>
                    </div>
                </div>
            </div>
            <div class="profile-information btn-section ">
                <div class="pull-right action-btn">
                    <a class="btn btn-default btn-cancel btn-sm" asp-action="Index">@Localizer[LabelConstants.Cancel]</a>
                    <button type="submit" class="btn btn-success custom-btn btn-sm">Save Changes</button>
                    <img id="loadingImg" style="width: 30px; display:none;" src="~/assets/images/spinner/loader-dark.gif" alt="loading image">
                </div>
            </div>
        </form>

    </div>
</div>

@section scripts{
    <script src="~/lib/toastr/toastr.min.js"></script>
    <script type="text/javascript" src="~/assets/widgets/parsley/parsley.js"></script>
    <script type="text/javascript" src="~/assets/widgets/chosen/chosen.js"></script>
    <script type="text/javascript" src="~/assets/widgets/chosen/chosen-demo.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#mainForm').on('submit', function () {
                var form = $(this);
                form.parsley().validate();
                var isValidForm = form.parsley().isValid();
                if (isValidForm) {
                    form.find('button[type=submit]').prop('disabled', true);
                    $("#loadingImg").show();
                    form.get(0).submit();
                }
                return false;
            });

            $("#myProfileImageInput").on('change', function (e) {
                debugger
                if (typeof (FileReader) != "undefined") {
                    var files = $(this).get(0).files;
                    if (files.length > 0) {
                        if (window.FormData !== undefined) {
                            var data = new FormData();
                            data.append("file", files[0]);

                            var token = $("input[type=hidden][name=__RequestVerificationToken]").val();

                            $.ajax({
                                type: "POST",
                                url: rootDir + "authorization/user/uploadprofileimage",
                                contentType: false,
                                processData: false,
                                data: data,
                                headers: {
                                    "RequestVerificationToken": token
                                },
                                success: function (response) {
                                    if (response.success) {
                                        $("#profileImage").attr("src", response.imageUrl)
                                        displaySuccess(response.message, response.messageTitle);

                                    } else {
                                        displayError("Opps. something went wrong. Please try again.");
                                    }
                                },
                                error: function () {
                                    displayError("Opps. something went wrong. Please try again.");
                                }
                            });
                        }
                    }
                }
            });

            function displaySuccess(message, messageTitle) {
                toastr.success(message, messageTitle);
                toastr.options = {
                    "closeButton": true,
                    "debug": false,
                    "newestOnTop": true,
                    "progressBar": false,
                    "positionClass": "toast-top-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "3000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }
            }

            function displayError(message, messageTitle) {
                toastr.error(message, messageTitle);
                toastr.options = {
                    "closeButton": true,
                    "debug": false,
                    "newestOnTop": true,
                    "progressBar": false,
                    "positionClass": "toast-top-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "3000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }
            }
        });
    </script>
}