@model IEnumerable<RoleListVM>
@inject RoleManager<Role> RoleManager
@{
    var hasPermissionForCreate = await BaseRoleClaimService.IsClaimExist(new Claim("permission", Permissions.AuthorizationRoleCreate), User);
    var hasPermissionForUpdate = await BaseRoleClaimService.IsClaimExist(new Claim("permission", Permissions.AuthorizationRoleUpdate), User);
    var hasPermissionForDelete = await BaseRoleClaimService.IsClaimExist(new Claim("permission", Permissions.AuthorizationRoleDelete), User);

    var loggedUser = await UserManager.FindByNameAsync(User.Identity.Name);
    var loggedUserRoles = await UserManager.GetRolesAsync(loggedUser);
    var loggedUserRole = await RoleManager.FindByNameAsync(loggedUserRoles.First());

    ViewData["Title"] =Localizer[LabelConstants.Role];
    var counter = 0;
}

@section styles{
    <link rel="stylesheet" type="text/css" href="~/assets/widgets/datatable/datatable.css">
}

<div class="row">
    <div id="page-title">
        <h2 class="display-inline">@Localizer[LabelConstants.Role]</h2>
        <div class="pull-right">
            @if (hasPermissionForCreate)
            {
                <a class="btn btn-primary btn-sm" href="~/authorization/role/add"><i class="glyph-icon icon-plus"></i>&nbsp;@Localizer[LabelConstants.AddNew]</a>
            }
        </div>
    </div>

    <div class="breadcrumb-section clearfix">
        <ol class="breadcrumb">
            <li class="module">@Localizer[LabelConstants.Authorization]</li>
            <li class="active">@Localizer[LabelConstants.Role]</li>
        </ol>
    </div>
    @Html.Partial("_MessagePanel")
    <div class="panel">
        <div class="panel-body">
            <div class="dataTable">
                <table id="roleTable" class="table">
                    <thead>
                        <tr>
                            <th>@Localizer[LabelConstants.SN]</th>
                            <th>@Localizer[LabelConstants.Name]</th>
                            <th>@Localizer[LabelConstants.Priority]</th>
                            <th>@Localizer[LabelConstants.Description]</th>
                            <th>@Localizer[LabelConstants.User]</th>
                            @if (hasPermissionForUpdate || hasPermissionForDelete)
                            {
                                <th>@Localizer[LabelConstants.Action]</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            counter = ++counter;
                            <tr>
                                <td>@counter</td>
                                <td>@item.RoleName</td>
                                <td>@item.Priority</td>
                                <td>@item.Description</td>
                                <td>@item.NumberOfUsers</td>
                                @if (hasPermissionForUpdate || hasPermissionForDelete)
                                {
                                    <td>
                                        @if (loggedUserRole.Priority <= item.Priority)
                                        {
                                            if (hasPermissionForUpdate)
                                            {
                                                <a id="editRoleModal" href="~/authorization/role/edit/@item.Id"
                                                   class="btn btn-info btn-xs">
                                                    <i class="glyph-icon icon-pencil"></i> @Localizer[LabelConstants.Edit]
                                                </a>
                                                <a id="addEditRoleCredential" href="~/authorization/role/permission/@item.Id"
                                                   class="btn btn-info btn-xs">
                                                    <i class="glyph-icon icon-cog"></i> @Localizer[LabelConstants.Manage]
                                                </a>
                                            }

                                            if (hasPermissionForDelete)
                                            {
                                                if (item.NumberOfUsers == 0)
                                                {
                                                    var deleteModal = "deleteModal" + item.Id;
                                                    <button class="btn btn-danger btn-xs" data-toggle="modal" data-target="#@deleteModal">
                                                        <i class="glyph-icon icon-trash-o"></i> Delete
                                                    </button>

                                                <!--Modal section-->
                                                    <div id="@deleteModal" class="modal fade in">
                                                        <div class="modal-dialog" style="width: 40% !important; margin-top: 10% !important;">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                                                                    <h3 class="modal-title">@Localizer[LabelConstants.DeleteRole]</h3>
                                                                </div>

                                                                <form asp-action="DeleteRole" role="form" asp-route-id="@item.Id" method="post">
                                                                    <div class="modal-body">
                                                                        @Localizer[LabelConstants.AreYouSureYouWantToDelete] <span><b>@item.RoleName</b></span> ?
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button data-dismiss="modal" class="btn btn-default" type="button">@Localizer[LabelConstants.Cancel]</button>
                                                                        <button class="btn btn-success" type="submit">@Localizer[LabelConstants.Delete]</button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            }
                                        }
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="deleteconfirmModal" class="modal fade in">
    <div class="modal-dialog" style="width:40% !important; margin-top:10% !important;">
        <div class="modal-content">
            <div id="modalbodyContent"></div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript" src="~/assets/widgets/datatable/datatable.min.js"></script>
    <script type="text/javascript" src="~/assets/widgets/datatable/datatable-bootstrap.min.js"></script>
    <script type="text/javascript" src="~/assets/widgets/datatable/datatable-responsive.min.js"></script>
    <script type="text/javascript" src="~/authorization/js/authorization-role-index.js"></script>
}