@using System.Threading.Tasks
@using Lumle.Module.Blog.ViewModels
@model ArticleVM

@{
    ViewData["Title"] = Localizer[LabelConstants.EditArticle];
}

@section styles{
    <link href="~/assets/widgets/summernote-wysiwyg/summernote-wysiwyg.css" rel="stylesheet" />
}

<div id="page-title">
    <h2>@Localizer[LabelConstants.EditArticle]</h2>
</div>

<div class="breadcrumb-section clearfix">
    <ol class="breadcrumb">
        <li class="module">@Localizer[LabelConstants.Blog]</li>
        <li><a asp-action="Index" asp-controller="Article">@Localizer[LabelConstants.Article]</a></li>
        <li class="active">@Localizer[LabelConstants.Edit]</li>
    </ol>
</div>

<div class="panel">
    <div class="panel-body">
        <style>
            .font-fix {
                padding: 6px 12px;
            }
        </style>

        @Html.Partial("_MessagePanel")

        <form id="mainForm" class="form-horizontal bordered-row" asp-action="edit" method="post" enctype="multipart/form-data" data-parsley-validate novalidate>
            @Html.HiddenFor(x => x.Id)
            <div class="form-group" style="border-top: 0px;">
                <label class="col-sm-3 control-label">@Localizer[LabelConstants.Title] <span class="text-danger">*</span></label>
                <div class="col-sm-6">
                    <input asp-for="Title" type="text" required class="form-control">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">@Localizer[LabelConstants.Content]</label>
                <div class="col-sm-6">
                    <div class="example-box-wrapper">
                        <textarea asp-for="Content" row="10" class="wysiwyg-editor"></textarea>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Featured Image<span class="text-danger"></span></label>
                @if (!string.IsNullOrEmpty(@Model.FeaturedImageUrl))
                {
                    <div class="col-sm-2">
                        <img src="@Model.FeaturedImageUrl" class="img-responsive" alt="Featured Image" />
                    </div>

                    <div class="col-sm-offset-1 col-sm-3">
                        <label class="col-sm-offset-1 col-sm-4 control-label" style="text-align:left; margin-bottom:2%;">Update Feature Image</label>
                        <input type="file" class="form-control" data-parsley-pattern="/\.(jpg|jpeg|png)$/i" data-parsley-error-message="Only jpeg, jpg, png supported." asp-for="FeaturedImage" accept="image/png,image/jpg,image/jpeg">
                    </div>
                }
                else
                {
                    <div class="col-sm-2">
                        <input type="file" class="form-control" data-parsley-pattern="/\.(jpg|jpeg|png)$/i" data-parsley-error-message="Only jpeg, jpg, png supported." asp-for="FeaturedImage">
                    </div>
                }
            </div>

            <div class="bg-default content-box text-center pad20A mrg25T">
                <a class="btn btn-default" href="~/blog/article">@Localizer[LabelConstants.Cancel]</a>
                <button class="btn btn-success" type="submit">@Localizer[LabelConstants.Save]</button>
                <img id="loadingImg" style="width: 30px; display:none;" src="~/assets/images/spinner/loader-dark.gif" alt="loading image">
            </div>
        </form>
    </div>
</div>

@section scripts {
    <script src="~/assets/widgets/summernote-wysiwyg/summernote-wysiwyg.min.js"></script>
    <script type="text/javascript" src="~/assets/widgets/parsley/parsley.js"></script>
    <script type="text/javascript">
        $(function () {
            "use strict";
            $('.wysiwyg-editor').summernote({
                height: 350
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#mainForm').on('submit', function () {
                var form = $(this);
                form.parsley().validate();
                var isValidForm = form.parsley().isValid();
                if (isValidForm) {
                    form.find('button[type=submit]').prop('disabled', true);
                    $("#loadingImg").show();
                    form.get(0).submit();
                }
                return false;
            });
        });
    </script>

}