@using Lumle.Module.Authorization.Services;
@using Microsoft.AspNetCore.Identity;
@using Lumle.Data.Models;

@inject IPermissionService PermissionService
@inject UserManager<User> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
    var sidebarMenuList = await PermissionService.GetSideBarMenuAsync(user);
}

<div class="scroll-sidebar">
    <ul id="sidebar-menu">
        @if (sidebarMenuList != null)
        {
            for (var i = 0; i < sidebarMenuList.Count; i++)
            {
                <li>
                    @if (sidebarMenuList[i].SubMenu.Count == 0)
                    {
                        <a href="~/@sidebarMenuList[i].Menu" title="@Localizer[sidebarMenuList[i].MenuDisplayName]">
                            <i class="@sidebarMenuList[i].Icon"></i>
                            <span>@Localizer[sidebarMenuList[i].MenuDisplayName]</span>
                        </a>
                    }
                    else
                    {
                        <a href="#" title="@Localizer[sidebarMenuList[i].MenuDisplayName]">
                            <i class="@sidebarMenuList[i].Icon"></i>
                            <span>@Localizer[sidebarMenuList[i].MenuDisplayName]</span>
                        </a>
                        <div class="sidebar-submenu">
                            <ul>
                                @for (var x = 0; x < sidebarMenuList[i].SubMenu.Count; x++)
                                {
                                    <li>
                                        <a href="~/@sidebarMenuList[i].Menu/@sidebarMenuList[i].SubMenu[x].SubMenu" title="@Localizer[sidebarMenuList[i].SubMenu[x].SubMenuDisplayName]">
                                            <span>@Localizer[sidebarMenuList[i].SubMenu[x].SubMenuDisplayName]</span>
                                        </a>
                                    </li>

                                }
                            </ul>
                        </div>
                    }
                </li>
                <li class="divider"></li>
            }
        }
    </ul>
</div>
