@using Lumle.Module.Blog.ViewModels
@model ArticleVM

@{
    ViewData["Title"] = Localizer[LabelConstants.AddArticle];
}

@section styles{
    <link href="~/assets/widgets/summernote-wysiwyg/summernote-wysiwyg.min.css" rel="stylesheet" />
}
<div id="page-title">
    <h2>@Localizer[LabelConstants.AddArticle]</h2>
</div>

<div class="breadcrumb-section clearfix">
    <ol class="breadcrumb">
        <li class="module">@Localizer[LabelConstants.Blog]</li>
        <li><a asp-action="Index" asp-controller="Article">@Localizer[LabelConstants.Article]</a></li>
        <li class="active">@Localizer[LabelConstants.Add]</li>
    </ol>
</div>

<div class="panel">
    <div class="panel-body">
        <style>
            .font-fix {
                padding: 6px 12px;
            }

            .btn-file > input {
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                margin: 0;
                font-size: 23px;
                cursor: pointer;
                filter: alpha(opacity=0);
                opacity: 0;
                direction: ltr;
            }

            .fileinput-exists .fileinput-new, .fileinput-new .fileinput-exists {
                display: none;
            }

            .fileinput-exists .fileinput-new, .fileinput-new .fileinput-exists {
                display: none;
            }
        </style>

        @Html.Partial("_MessagePanel")

        <form id="mainForm" enctype="multipart/form-data" class="form-horizontal bordered-row" asp-action="New" method="post" data-parsley-validate novalidate>
            <div class="form-group" style="border-top: 0px;">
                <label class="col-sm-3 control-label">@Localizer[LabelConstants.Title] <span class="text-danger">*</span></label>
                <div class="col-sm-6">
                    <input asp-for="Title" type="text" class="form-control" required>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">@Localizer[LabelConstants.Content]</label>
                <div class="col-sm-6">
                    <div class="example-box-wrapper">
                        <textarea asp-for="Content" row="10" class="wysiwyg-editor"></textarea>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">FeaturedImage</label>
                <div class="col-sm-6">
                    <div class="fileinput fileinput-new" data-provides="fileinput">
                        <span class="btn btn-primary btn-file">
                            <span class="fileinput-new">Select file</span>
                            <span class="fileinput-exists">Change</span>
                            <input type="file" asp-for="FeaturedImage" name="FeaturedImage" accept="image/png,image/jpg,image/jpeg">
                        </span>
                        <span class="fileinput-filename"></span>
                        <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">×</a>
                    </div>
                </div>
            </div>

            <div class="bg-default content-box text-center pad20A mrg25T">
                <a class="btn btn-default" href="~/blog/article">@Localizer[LabelConstants.Cancel]</a>
                <button class="btn btn-success" type="submit">@Localizer[LabelConstants.Publish]</button>
                <img id="loadingImg" style="width: 30px; display:none;" src="~/assets/images/spinner/loader-dark.gif" alt="loading image">
            </div>
        </form>
    </div>
</div>


@section scripts {
    <script src="~/assets/widgets/summernote-wysiwyg/summernote-wysiwyg.min.js"></script>
    <script type="text/javascript" src="~/assets/widgets/parsley/parsley.js"></script>
    <script type="text/javascript">
        $(function () {
            "use strict";
            $('.wysiwyg-editor').summernote({
                height: 350
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#mainForm').on('submit', function () {
                var form = $(this);
                form.parsley().validate();
                var isValidForm = form.parsley().isValid();
                if (isValidForm) {
                    form.find('button[type=submit]').prop('disabled', true);
                    $("#loadingImg").show();
                    form.get(0).submit();
                }
                return false;
            });
        });
    </script>

}