@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery antiforgery

@model CredentialVM

@{
    var antiforgeryRequestToken = antiforgery.GetAndStoreTokens(Context).RequestToken;   
}

@section styles
{
    <link href="~/assets/widgets/datatable/datatable.min.css" rel="stylesheet" />
    <link href="~/lib/toastr/toastr.css" rel="stylesheet" />
}

@{
    ViewData["Title"] = Localizer[LabelConstants.ManageCredential];
}

<div class="breadcrumb-section clearfix">
    <ol class="breadcrumb">
        <li class="module">@Localizer[LabelConstants.Configuration]</li>
        <li><a href="~/adminconfig/credential">@Localizer[LabelConstants.CredentialCategory]</a></li>
        <li class="active">@Localizer[LabelConstants.Credential]</li>
    </ol>
</div>

<div class="panel">
    <div class="panel-body">
        <div class="dataTable">
            <table cellpadding="0" cellspacing="0" border="0" class="table" id="credentialDataTable">
                <thead>
                    <tr>
                        <th>@Localizer[LabelConstants.SN]</th>
                        <th>@Localizer[LabelConstants.Credential]</th>
                        <th>@Localizer[LabelConstants.Value]</th>
                        @if (Model.UpdateAction)
                        {
                            <th>Actions</th>
                        }
                        <th style="display:none;"></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.CredentialModels != null)
                    {
                        for (int i = 0; i < Model.CredentialModels.Count; i++)
                        {
                            <tr>
                                <td>@Model.CredentialModels[i].Sn</td>
                                <td>@Model.CredentialModels[i].DisplayName</td>
                                @if (Model.UpdateAction)
                                {
                                    <td><input value="@Model.CredentialModels[i].Value" class="form-control" style="width:100%" /></td>
                                }
                                else
                                {
                                    <td><input value="@Model.CredentialModels[i].Value" readonly class="form-control" style="width:100%" /></td>
                                }

                                @if (Model.UpdateAction)
                                {
                                    <td>
                                        <button class="btn btn-primary btn-sm">@Localizer[LabelConstants.Save]</button>
                                        <img style="width: 30px;display:none" src="~/assets/images/spinner/loader-dark.gif" alt="" display="none">
                                    </td>
                                }
                                <td style="display:none;">@Model.CredentialModels[i].Id</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        var token = @Json.Serialize(antiforgeryRequestToken);
    </script>
    <script src="~/lib/toastr/toastr.min.js"></script>
    <script src="~/assets/widgets/datatable/datatable.min.js"></script>
    <script src="~/assets/widgets/datatable/datatable-bootstrap.min.js"></script>
    <script src="~/assets/widgets/datatable/datatable-tabletools.min.js"></script>
    <script src="~/js/credential-edit-datatable.js"></script>
}