@model IEnumerable<CredentialModel>
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@inject IViewLocalizer Localizer

@inject IBaseRoleClaimService BaseRoleClaimService

@{
    var hasPermissionForCredentialUpdate = await BaseRoleClaimService.IsClaimExist(new Claim("permission", Permissions.AdminConfigCredentialUpdate),User);
}

@section styles
{
    <link href="~/assets/widgets/datatable/datatable.min.css" rel="stylesheet" />
    <link href="~/lib/toastr/toastr.css" rel="stylesheet" />
}

@{
    ViewData["Title"] =Localizer[LabelConstants.ManageCredential];
}

@functions
{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

<div id="page-title">
    <h2>@Localizer[LabelConstants.Credential]</h2>
</div>

<div class="breadcrumb-section clearfix">
    <ol class="breadcrumb">
        <li class="module">@Localizer[LabelConstants.Configuration]</li>
        <li><a href="~/adminconfig/credential">@Localizer[LabelConstants.CredentialCategory]</a></li>
        <li class="active">@Localizer[LabelConstants.Credential]</li>
    </ol>
</div>

<div class="panel">
    <div class="panel-body">
        <h3 class="title-hero">
           @Localizer[LabelConstants.Credential]
        </h3>
        <div class="example-box-wrapper">
            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="credentialDataTable" value>
                <thead>
                    <tr>
                        <th>@Localizer[LabelConstants.SN]</th>
                        <th>@Localizer[LabelConstants.Credential]</th>
                        <th>@Localizer[LabelConstants.Value]</th>
                        @if (hasPermissionForCredentialUpdate)
                        {
                            <th></th>
                        }
                        <th style="display:none;"></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        foreach (var credential in Model)
                        {
                            <tr>
                                <td>@credential.Sn</td>
                                <td>@credential.DisplayName</td>
                                @if (hasPermissionForCredentialUpdate)
                                {
                                    <td><input value="@credential.Value" class="form-control" style="width:100%" /></td>
                                }
                                else
                                {
                                    <td><input value="@credential.Value" readonly class="form-control" style="width:100%" /></td>
                                }

                                @if (hasPermissionForCredentialUpdate)
                                {
                                    <td>
                                        <button class="btn btn-primary">@Localizer[LabelConstants.Save]</button>
                                        <img style="width: 30px;display:none" src="~/assets/images/spinner/loader-dark.gif" alt="" display="none">
                                    </td>
                                }
                                <td style="display:none;">@credential.Id</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/lib/toastr/toastr.min.js"></script>
    <script src="~/assets/widgets/datatable/datatable.min.js"></script>
    <script src="~/assets/widgets/datatable/datatable-bootstrap.min.js"></script>
    <script src="~/assets/widgets/datatable/datatable-tabletools.min.js"></script>
    <script src="~/adminconfig/js/credential-edit-datatable.min.js"></script>
}