@model IEnumerable<CredentialCategoryModel>
@inject IViewLocalizer Localizer


@section styles
{
    <link href="~/assets/widgets/datatable/datatable.min.css" rel="stylesheet" />
}

@{
    ViewData["Title"] = Localizer[LabelConstants.Credential];
}

<div id="page-title">
    <h2>@Localizer[LabelConstants.CredentialCategory]</h2>
</div>

<div class="breadcrumb-section clearfix">
    <ol class="breadcrumb">
        <li class="module">@Localizer[LabelConstants.Configuration]</li>
        <li class="active">@Localizer[LabelConstants.CredentialCategory]</li>
    </ol>
</div>

@Html.Partial("_MessagePanel")

<div class="panel">
    <div class="panel-body">
        <div class="example-box-wrapper">
            <table class="table table-bordered table-striped table-condensed" id="credentialCategoryDataTable">
                <thead>
                    <tr>
                        <th>@Localizer[LabelConstants.SN]</th>
                        <th>@Localizer[LabelConstants.Category]</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var credentialCategory in Model)
                    {
                        <tr>
                            <td>@credentialCategory.Sn</td>
                            <td>@credentialCategory.Name</td>
                            <td><a class="btn btn-info btn-sm" href="~/adminconfig/credential/@credentialCategory.Id"><i class="glyph-icon icon-cog"></i> @Localizer[LabelConstants.Manage]</a></td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts{
    <!--datatable js-->
    <script type="text/javascript" src="~/assets/widgets/datatable/datatable.min.js"></script>
    <script type="text/javascript" src="~/assets/widgets/datatable/datatable-bootstrap.min.js"></script>
    <script type="text/javascript" src="~/assets/widgets/datatable/datatable-responsive.min.js"></script>
    <script src="~/adminconfig/js/credential-index-datatable.min.js"></script>
}