@using Lumle.Module.Localization.ViewModels
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery antiforgery

@model CultureListVM

@{
    ViewData["Title"] = Localizer[LabelConstants.Culture];
    var antiforgeryRequestToken = antiforgery.GetAndStoreTokens(Context).RequestToken;
}

@section styles
{
    <link href="~/assets/widgets/datatable/datatable.min.css" type="text/css" rel="stylesheet" />
    <link href="~/assets/widgets/input-switch/inputswitch-alt.min.css" type="text/css" rel="stylesheet" />
    <link href="~/lib/toastr/toastr.css" type="text/css" rel="stylesheet" />
    <style type="text/css">
        div.switch-toggle { left: 110px; }
    </style>
}

<div id="page-title">
    <h2 class="display-inline">@Localizer[LabelConstants.Localization]</h2>

    @if (Model.CreateAction)
    {
        @if (Model.InActiveCultureCount > 0)
        {
            <button class="btn btn-primary btn-sm pull-right" data-toggle="modal" data-target="#addLanguageModal">
                <i class="glyph-icon icon-plus"></i>  @Localizer[LabelConstants.AddNew]
            </button>
        }
    }
</div>

<div class="breadcrumb-section clearfix">
    <ol class="breadcrumb">
        <li class="module">@Localizer[LabelConstants.Localization]</li>
        <li class="active">@Localizer[LabelConstants.Culture]</li>
    </ol>
</div>

@Html.Partial("_MessagePanel")

<div class="example-box-wrapper">

    <div class="modal fade" id="addLanguageModal" tabindex="-1" role="dialog" aria-labelledby="addLanguageModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form asp-action="AddNewCulture" method="post" role="form" class="form-horizontal">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">@Localizer[LabelConstants.AddNew]</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">@Localizer[LabelConstants.SelectLanguage]</label>
                            <div class="col-sm-6">
                                <select class="form-control" name="selectedCulture" required>
                                    <option value="" selected>@Localizer[LabelConstants.PleaseSelect]</option>

                                    @for (int i = 0; i < Model.InActiveCultureCount; i++)
                                    {
                                        <option value="@Model.InActiveCultures[i].Name">@Model.InActiveCultures[i].DisplayName</option>

                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">@Localizer[LabelConstants.Cancel]</button>
                        <button type="submit" class="btn btn-success btn-sm">@Localizer[LabelConstants.Save]</button>
                        <img id="loadingImg" style="width: 30px; display:none;" src="~/assets/images/spinner/loader-dark.gif" alt="loading image">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        <div class="dataTable">
            <table cellpadding="0" cellspacing="0" border="0" class="table" id="cultureDataTable">
                <thead>
                    <tr>
                        <th>@Localizer[LabelConstants.SN]</th>
                        <th>@Localizer[LabelConstants.Language]</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>

                    @for (int i = 0; i < Model.EnabledCultures.Count; i++)
                    {
                        <tr>
                            <td>@Model.EnabledCultures[i].Sn</td>
                            <td>@Model.EnabledCultures[i].DisplayName</td>
                            <td>
                                <div class="form-group ">
                                    <a class="btn btn-info btn-xs display-inline" style="float:left;" href="~/localization/culture/@Model.EnabledCultures[i].Name"><i class="glyph-icon icon-cog"></i> @Localizer[LabelConstants.Manage]</a>
                                    @if (Model.EnabledCultures[i].Name != "en-US")
                                    {
                                        if (Model.EnabledCultures[i].IsActive)
                                        {
                                            <div class="switch-toggle switch-on" value="@Model.EnabledCultures[i].Name"></div>
                                        }
                                        else
                                        {
                                            <div class="switch-toggle switch-off" value="@Model.EnabledCultures[i].Name"></div>
                                        }
                                    }
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        var token = @Json.Serialize(antiforgeryRequestToken);
    </script>

    <script src="~/lib/toastr/toastr.min.js"></script>
    <script type="text/javascript" src="~/assets/widgets/datatable/datatable.min.js"></script>
    <script type="text/javascript" src="~/assets/widgets/datatable/datatable-bootstrap.min.js"></script>
    <script type="text/javascript" src="~/assets/widgets/datatable/datatable-responsive.min.js"></script>
    <script src="~/assets/widgets/datatable/datatable-tabletools.js"></script>
    <script src="~/js/localization-index-datatable.js"></script>
}