@model EmailTemplateVM

@{
    ViewData["Title"] = Localizer[LabelConstants.ManageEmailTemplate];
}

@section styles{
    <link href="~/assets/widgets/summernote-wysiwyg/summernote-wysiwyg.min.css" rel="stylesheet" />
}

<div class="breadcrumb-section clearfix">
    <ol class="breadcrumb">
        <li class="module">@Localizer[LabelConstants.Configuration]</li>
        <li><a href="~/adminconfig/emailtemplate">@Localizer[LabelConstants.EmailTemplate]</a></li>
        <li class="active">@Localizer[LabelConstants.Edit]</li>
    </ol>
</div>

@Html.Partial("_MessagePanel")

<div class="page-title">
    @if (Model.UpdateAction)
    {
        <div class="pull-right" style="margin:15px 15px 0 0;">
            <a class="btn btn-info btn-xs" href="~/adminconfig/emailtemplate/last/@Model.Id">@Localizer[LabelConstants.LoadLastTemplate]</a>
            <a class="btn btn-info btn-xs" href="~/adminconfig/emailtemplate/default/@Model.Id">@Localizer[LabelConstants.LoadDefaultTemplate]</a>
        </div>
    }
</div>
<div class="panel">
    <h3 class="title-hero title-setting">@Localizer[LabelConstants.EmailTemplate]</h3>
    <div class="panel-body custom-panel">
        <div class="example-box-wrapper">
            <form id="mainForm" class="form-horizontal bordered-row" asp-action="EditEmailTemplate" role="form" method="post" data-parsley-validate novalidate>
                <div class="row">
                    <div class="col-md-12 main-section">
                        @Html.HiddenFor(x => x.Id)

                        <div class="form-group">
                            <label class="col-lg-3 col-sm-3 control-label">@Localizer[LabelConstants.Title]<span class="text-danger"> *</span></label>
                            <div class="col-lg-6">
                                <input asp-for="SlugDisplayName" class="form-control" required />
                            </div>
                        </div>

                        <div class="form-group">
                            <label asp-for="Subject" class="col-lg-3 col-sm-3 control-label">@Localizer[LabelConstants.EmailSubject]<span class="text-danger"> *</span></label>
                            <div class="col-lg-6">
                                <input asp-for="Subject" class="form-control" required />
                            </div>
                        </div>

                        <div class="form-group form-section">
                            <label class="col-lg-3 col-sm-3 control-label">@Localizer[LabelConstants.EmailBody]<span class="text-danger"> *</span></label>
                            <div class="col-lg-6">
                                <div class="example-box-wrapper">
                                    <textarea asp-for="Body" row="10" class="wysiwyg-editor" required></textarea>
                                </div>
                            </div>
                        </div>
                        @if (Model.UpdateAction)
                        {
                            <div class="form-group form-section">
                                <div class="col-sm-9">
                                    <div class="pull-right">
                                        <a class="btn btn-default btn-cancel btn-sm" asp-action="Index">@Localizer[LabelConstants.Cancel]</a>
                                        <button type="submit" class="btn btn-success custom-btn btn-sm">Save Changes</button>
                                        <img id="loadingImg" style="width: 30px; display:none;" src="~/assets/images/spinner/loader-dark.gif" alt="loading image">
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="form-group form-section">
                                <div class="col-sm-9">
                                    <div class="pull-right">
                                        <a class="btn btn-default btn-cancel btn-sm" asp-action="Index">@Localizer[LabelConstants.Back]</a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript" src="~/assets/widgets/parsley/parsley.js"></script>
    <script src="~/assets/widgets/summernote-wysiwyg/summernote-wysiwyg.min.js"></script>
    <script type="text/javascript">
        $(function () {
            "use strict";
            $('.wysiwyg-editor').summernote({
                height: 350
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#mainForm').on('submit', function () {
                var form = $(this);
                form.parsley().validate();
                var isValidForm = form.parsley().isValid();
                if (isValidForm) {
                    form.find('button[type=submit]').prop('disabled', true);
                    $("#loadingImg").show();
                    form.get(0).submit();
                }
                return false;
            });
        });
    </script>
}