@model IList<EmailTemplateModel>

@{
    ViewData["Title"] =Localizer[LabelConstants.EmailTemplate];
}

@section styles
{
    <link href="~/assets/widgets/datatable/datatable.min.css" rel="stylesheet" />
}
<style type="text/css">
    .alert-dismissable .close, .alert-dismissible .close { right: 0px; }
</style>

<div id="page-title">
    <h2>@Localizer[LabelConstants.EmailTemplate]</h2>
</div>

<div class="breadcrumb-section clearfix">
    <ol class="breadcrumb">
        <li class="module">@Localizer[LabelConstants.Configuration]</li>
        <li class="active">@Localizer[LabelConstants.EmailTemplate]</li>
    </ol>
</div>

@Html.Partial("_MessagePanel")

<div class="panel">
    <div class="panel-body">
        <div class="dataTable">
            <table class="table" id="emailTemplateDataTable">
                <thead>
                    <tr>
                        <th>@Localizer[LabelConstants.SN]</th>
                        <th>@Localizer[LabelConstants.Title]</th>
                        <th>@Localizer[LabelConstants.Subject]</th>
                        <th>@Localizer[LabelConstants.Action]</th>
                    </tr>
                </thead>
                <tbody>

                    @for (int i = 0; i < Model.Count; i++)
                    {
                        <tr>
                            <td>@Model[i].Sn</td>
                            <td>@Model[i].SlugDisplayName</td>
                            <td>@Model[i].Subject</td>
                            <td><a class="btn btn-info btn-xs" href="~/adminconfig/emailtemplate/edit/@Model[i].Id"><i class="glyph-icon icon-cog"></i> @Localizer[LabelConstants.Manage]</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts{
    <!--datatable js-->
    <script type="text/javascript" src="~/assets/widgets/datatable/datatable.min.js"></script>
    <script type="text/javascript" src="~/assets/widgets/datatable/datatable-bootstrap.min.js"></script>
    <script type="text/javascript" src="~/assets/widgets/datatable/datatable-responsive.min.js"></script>
    <script src="~/js/emailtemplate-index-datatable.min.js"></script>
}